@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #525252;
    user-select: none;
}


.name {
    align-items: center;
}

.container {
    align-items: column;
    margin: 300px;
   
    
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    font-size: larger;
    font-weight: bolder;
    
    width: 400px;
   
    
}

.span-row {
    border: 1px solid black;
    margin: 10px;
    height: 40px;
    width: 60px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-weight: bolder
}

.span-row .times {
    font-size: 30;
}

.span-row:hover {
    background-color: aqua;
}

.display {
    display: flex;
    align-items: center;
    font-size: 100%;
    font-weight: bolder;
    justify-content: center;
    width: 400px;
    border: 3px solid;
}